body {
    background-color: skyblue;
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
fieldset {
    margin: 20px 0;
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
legend {
    font-size: 2rem;
}
label {
    display: inline-block;
    width: 70px;
    margin-bottom: 5px;
}
input[type="text"] {
    padding: 5px;
    margin: 5px;
    width: 200px;
}
input[type="password"] {
    padding: 5px;
    margin: 5px;
    width: 200px;
}
button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
h1, h2 {
    margin-bottom: 20px;
}
.auth-container {
    display: grid;
    column-count: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.auth-form {
    display: grid;
    column-count: 2;
    justify-content: inherit;
    align-items: inherit;
    width: 100%;
}
.border {
    display: inline-flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    background-color: #791919;
}

  /* Navbar container */
.navbar {
    display: block;
    width: inherit;
    overflow: hidden;
    font-family: Arial;
    justify-content: end;
}
.navbar button {
    float: right;
    font-size: 16px;
    color: rgb(218, 247, 166);
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    background-color: #791919;
    border: 0;
}
.navbar button:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: red;
}
.container {
    display: block;
    font-size:1.2rem;
    width: 500px;
    margin: 0 auto;
}
.container-inner {
    display: flex;
    background-color:lavender
}
.searchbar {
    width: inherit;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
}
.homes {
    background-color: navajowhite;
    display: inline-flex;
    align-items: top;
    justify-content: left;
    border: 1px solid silver;
    margin: 0 10px;
}
.homes:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 20px;
    border: 2px dashed silver;
    background-color:antiquewhite;
}
#edit-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: aliceblue;
    border: 1px solid chartreuse;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
#edit-btn:hover {
    background-color: silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#delete-btn {
    display: inline-flex;
    font-size: 1.2rem;
    background-color: navajowhite;
    padding: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
}
#delete-btn:hover {
    background-color: antiquewhite;
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
#new-btn {
    font-size: 1.5rem;
    background-color:ghostwhite;
    color:navy;
    border: 1px solid silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#new-btn:hover {
    background-color: silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#add {
    background-color:burlywood;
    color:navy;
}
#roster {
    background-color:darkseagreen;
    color:navy;
}